@import "../../../styles/abstracts/variables/variables";

.navbar {
  background: $black;
  padding: 0.5rem 0;
  position: relative;
  z-index: 99991;
  [class~="container"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logoWrapper {
    cursor: pointer;
    height: 40px;
    width: 157px;
    display: block;
    position: relative;
    z-index: 1000;
  }
  &__logoWrapper:focus,
  &__logoWrapper:hover {
    opacity: 0.95;
  }
  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  ul {
    display: flex;
    align-items: center;
    @media screen and (max-width: 915px) {
      display: none;
    }
  }
  [class~="medium"] {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
  }
  [class~="medium"] a {
    color: white;
    margin-right: 2rem;
    @media screen and (max-width: 1025px) {
      margin-right: 1rem;
    }
  }
  [class~="medium"] a:hover,
  [class~="medium"] a:focus {
    color: $gray5;
  }
  &__active {
    pointer-events: none !important;
    color: $gray5 !important;
  }
  [class~="medium"]:last-child a {
    margin-right: 0;
  }
  [class~="btn"] {
    height: 35px;
    justify-content: space-between;
    background: white;
    font-size: 13px;
    min-width: unset;
    font-weight: 800;
  }
  [class~="btn"]:hover,
  [class~="btn"]:focus {
    background: $gray5;
  }
  [class~="btn"] span {
    margin-right: 0.5rem;
  }
  &__mobile {
    display: none;
    align-self: center;
  }
  &__mobileFooter {
    display: none;
  }
  @media screen and (max-width: 915px) {
    min-height: 58px;
    [class~="container --mobileOpen"] {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    [class~="container --mobileClosed"] {
      position: relative;
    }
    &__mobile {
      display: block;
    }
    &__mobileBtn {
      z-index: 1000;
    }
    &__mobileWrapper {
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      right: 0;
      left: 0;
      top: 0;
      background: $black;
      opacity: 0;
    }
    &__mobileBtnWrapper {
      padding: 0.25rem;
      cursor: pointer;
    }
    &__mobileWrapper ul {
      display: flex;
      flex-direction: column;
      padding: 2rem 2rem 0;
      margin-top: 3rem;
      align-items: center;
      justify-content: space-around;
      height: 80%;
    }
    &__mobileWrapper ul [class~="medium"] {
      font-size: 35px;
      font-weight: 900;
      overflow: hidden;
      margin: 0 0 0.75rem;
    }
    &__mobileWrapper ul [class~="medium"] a {
      cursor: pointer;
      display: block;
      opacity: 0;
      margin: 0;
    }
  }
  @media screen and (max-width: 500px) {
    &__mobileWrapper {
      padding-bottom: 2rem;
    }
    &__mobileWrapper ul {
      align-items: flex-start;
      height: 50%;
      margin-top: 3rem;
    }
    &__mobileWrapper ul [class~="medium"] {
      font-size: 24px;
    }
    &__mobileWrapper ul li[class~="medium"] a {
      color: $gray4;
    }
    &__mobileWrapper ul li[class~="medium"] a[class~="navbar__active"] {
      color: white !important;
      pointer-events: none;
    }
    &__mobileFooter {
      display: block;
    }
    &__mobileFooter ul {
      color: white;
      font-weight: 600;
      font-size: 16px;
      margin: 0;
    }
    &__mobileFooter ul li span {
      display: block;
      font-weight: 800;
      margin-bottom: 0.5rem;
      font-size: 17px;
    }
    &__mobileFooter ul li {
      margin-bottom: 1.5rem;
      overflow: hidden;
    }
    @media screen and (max-height: 620px) {
      &__mobileWrapper {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        justify-content: space-between;
        height: calc(100vh - 4rem);
      }
      &__mobileWrapper > ul:first-child {
        margin-top: 0;
        padding: 0 1.5rem;
        height: 100%;
      }
      &__mobileWrapper > ul:first-child [class~="medium"] {
        margin-bottom: 0rem;
      }
      &__mobileFooter {
        height: 250px;
        margin-top: 1rem;
      }
      &__mobileFooter > ul:first-child {
        margin: 0;
        height: 100%;
        padding: 0 1.5rem;
      }
    }
    @media screen and (max-height: 570px) {
      &__mobileWrapper > ul:first-child [class~="medium"] {
        font-size: 25px;
      }
    }
  }
}
